@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: pink;
}

#quote-box{
  background-color: white;
  width: 50rem;
  margin: 10rem auto;
  border-radius: 15px;
  padding:3rem;
  
}

#author{
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
}


#text{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
#buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.social-media{
  display: flex;
}
.social-media> a {
  margin-right: .5rem;
  background-color: rgb(235, 217, 217);
  padding: .7rem .7rem;
  cursor: pointer;
  border-radius: 3px;
}
.social-media> a:hover {
  opacity: 0.9;
}

.social-media > a img{
  width:1.5rem;
}

#new-quote{
  background-color: pink;
  border:none;
  width:10rem;
  color: black;
  padding: .9rem .9rem;
  font-size: 1rem;
  font-weight: bold;
  outline:none;
  cursor: pointer;
}